@model IEnumerable<TiendaMVC.Models.Producto>
    
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fabricante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PVP)
        </th>
       <th>
            @Html.DisplayNameFor(model => model.Categoria.NombreCategoria)
        </th>
      </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fabricante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PVP)
            </td>
        <td>
                @Html.DisplayFor(modelItem => item.Categoria.NombreCategoria)
            </td>

        </tr>
    }

</table>
